@import "tailwindcss";

@theme {
  --color-blue-500: #0028a5;
  --color-blue-700: #0028a5;

  --color-yellow-500: #d3e11e;
}

@utility article {
  @apply flex flex-col gap-10;
}

@utility article__header {
  @apply font-bold text-lg underline underline-offset-6 decoration-2 decoration-yellow-500;
}

@utility section {
  @apply flex flex-col gap-6;
}

@utility section__header {
  @apply font-bold text-4xl;
}

@utility tag {
  @apply inline-flex border-2 rounded-full border-solid border-blue-500 py-1 px-2 font-bold;
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  .content {
    @apply flex flex-col gap-6;

    li {
      @apply list-disc ml-6;
    }
  }

  .tag-list {
    @apply flex flex-wrap gap-2;

    li {
      @apply tag m-0;
    }
  }

  .check-list {
    @apply flex flex-col gap-0.5;

    li {
      @apply inline-flex items-center gap-2 m-0;

      &::before {
        content: "";
        background-image: url(/halpneun/icons/check.svg);
        display: block;
        flex-shrink: 0;
        height: 15px;
        width: 19px;
      }
    }
  }
}
