---
import { render } from "astro:content";
import { getTranslatedEntry } from "../i18n/locale";
import Shell from "../layout/Shell.astro";

const imprint = await getTranslatedEntry(Astro.currentLocale!, "imprint");
const { Content } = await render(imprint);
---

<Shell container>
  <span class="content">
    <Content />
  </span>
</Shell>
