---
import { getRelativeLocaleUrl } from "astro:i18n";
import LocaleSelect from "../ui/LocaleSelect.astro";
import { icon } from "../util/icon";
---

<header class="container flex items-center m-auto p-4">
  <a href={getRelativeLocaleUrl(Astro.currentLocale!, "/")}>
    <img src={icon("logo")} alt="Halpneun" />
  </a>
  <div class="ml-auto">
    <LocaleSelect />
  </div>
</header>
